In [0]:
import requests
from bs4 import BeautifulSoup
import time

In [0]:
def WYPTB(page_id):
    url = "http://willyoupressthebutton.com/" + str(page_id) + "/stats/yes"
    data = requests.get(url)
    if data.status_code == 200:
        soup = BeautifulSoup(data.text)
        condition = soup.find('div',{'id':'cond'})
        condition = condition.text.lstrip().rstrip()
        result = soup.find('div',{'id':'res'})
        result = result.text.lstrip().rstrip()
        num_pressed = soup.find('span',{'class':'statsBarLeft'})
        num_pressed = num_pressed.text.lstrip().rstrip()
        num_not_pressed = soup.find('span',{'class':'statsBarRight'})
        num_not_pressed = num_not_pressed.text.lstrip().rstrip()
        return [condition,result,num_pressed,num_not_pressed,page_id]
    else:
        return('Error, status code:',data.status_code)

In [0]:
condition = []
result = []
pressed = []
not_pressed = []
page_id = []

In [0]:
#x=25
for x in range(1,470000):
    data = WYPTB(x)
    #print(data)
    if len(data) == 5:
        condition.append(data[0])
        result.append(data[1])
        pressed.append(data[2])
        not_pressed.append(data[3])
        page_id.append(data[4])
    else:
      pass
    if x % 1000 == 0:
      print('Done with: ',x,data)

In [0]:
len(condition)

470000

In [0]:
import pandas as  pd
df = pd.DataFrame({'conditions':condition,'results':result,'no_pressed':pressed,'no_not_pressed':not_pressed,'page_id':page_id})
df.to_csv('WYPTB.csv',index=False)
df.head()

,conditions,no_not_pressed,no_pressed,page_id,results
0,You can get a free coffee from Starbucks,18569 (20%),74632 (80%),25,you have to donate some money to a homeless
1,A jew is burned,4814 (78%),1355 (22%),26,A Norwegian teenager is raped
2,Barrack Obama dies,63086 (65%),33846 (35%),27,Poland starts ruling the world
3,You get a yacht,56062 (55%),46161 (45%),28,but you have to become a vegetarian
4,You are able to fly,48404 (52%),44111 (48%),29,you loose your best friend

In [0]:
ls -lah

total 361M
drwxr-xr-x 1 root root 4.0K Mar 16 07:42 ./
drwxr-xr-x 1 root root 4.0K Mar 16 02:36 ../
drwxr-xr-x 1 root root 4.0K Mar  8 17:25 .config/
drwxr-xr-x 1 root root 4.0K Mar  8 17:26 sample_data/
-rw-r--r-- 1 root root 282M Mar 16 07:39 WYPTB_comments_2.json
-rw-r--r-- 1 root root  80M Mar 16 13:30 WYPTB.csv